body{
    background-color: lightgray;
    font-family:Arial, Helvetica, sans-serif ;
}

h1,h2{
    font-family: 'Times New Roman', Times, serif;
}
p{
    color: rgb(46, 45, 45);
}
header{
    display: flex;
    margin: 40px;
    align-items: center;
}

.boton1{
    background-color: red;
}
#logo{
    width: 200px;
    height: 80px; 
}
#form1{
    margin-left: 60px;
}
#idBuscador{
    width: 400px;
}
.rojo{
    color: red;
    font-weight: bold;
}
.subrayado{
    background-color: yellow;
}